<div class="container">
    <div class="center">
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo">
      </div>
      <div *ngIf ="showform === 'new'">
        <div class="data-form shadow">
          <form #forgetPassword="ngForm" class="sign-up form" novalidate="novalidate" accept-charset="utf-8">
  
            <h1>Enter your Email Id</h1>
            <div class="form-group  first-child">
              <div class="input email">
                <input name="email" [(ngModel)]="forgetpasswordObj.email" #email="ngModel" required placeholder="Email Id"
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,3}$" class="form-control" id="email"
                  data-position="top" maxlength="255" type="email" autocomplete="off" (keyup)="clearError('email')">
                <div [ngClass]="{
                                    'errormsg': email.invalid && (email.dirty || email.touched),
                                    'has-success': email.valid && (email.dirty || email.touched)}"
                  *ngIf="email.errors && (email.dirty || email.touched)">
                  <p *ngIf="email.errors.required">Email is required</p>
                  <p *ngIf="email.errors.pattern">Please enter a valid email</p>
                </div>
                <div class="errormsg" *ngIf="errorObj.email!==''">
                  <span>{{errorObj.email}}</span>
                </div>
              </div>
            </div>
            <div >
              <button class="text-left" type="submit" class="forgetpswrd" ><a routerLinkActive="active" routerLink='/'>Cancel</a></button>
            
              <button class="text-right" type="submit" class="forgetpswrd1" [disabled]="forgetPassword.invalid"
                (click)="otpByEmail()">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="showform==='new1'">
        <div class="data-form shadow">
          <form #forgetPassword1="ngForm" class="sign-up form" novalidate="novalidate" accept-charset="utf-8">
  
            <h1>Enter OTP</h1>
            <div class="form-group  first-child">
              <div class="input otp">
                <input name="otp" [(ngModel)]="forgetpasswordObj.otp" #otp="ngModel" required placeholder="OTP"
                  class="form-control" id="otp" data-position="top" maxlength="255" type="otp" autocomplete="off"
                  (keyup)="clearError('otp')">
                  <span class="form-note white">
                    Note: Otp is valid upto 8 minutes only.
                  </span>
                <div [ngClass]="{
                                    'errormsg': otp.invalid && (otp.dirty || otp.touched),
                                    'has-success': otp.valid && (otp.dirty || otp.touched)}"
                  *ngIf="otp.errors && (otp.dirty || otp.touched)">
                  <p *ngIf="otp.errors.required">otp is required</p>
                  <p *ngIf="otp.errors.pattern">Please enter a valid email</p>
                </div>
                <div class="errormsg" *ngIf="errorObj.otp!==''">
                  <span>{{errorObj.otp}}</span>
                </div>
              </div>
            </div>
            <div class="d-flex j-c-s-b">
              <button type="submit" class="registerbtn mr-1" [disabled]="forgetPassword1.invalid"
              (click)="otpConfirmation()">Submit</button>
              <button type="submit" class="registerbtn resendbtn"
                (click)="resendOtp()">Resend</button>
            </div>
           
          </form>
        </div>
      </div>
      <div *ngIf="showform==='new2'">
        <div class="data-form shadow">
          <form #forgetPassword2="ngForm" class="sign-up form" novalidate="novalidate" accept-charset="utf-8">
  
            <h1>Change password</h1>
            <div class="form-group  first-child">
              <div class="input password">
                <input name="password" [(ngModel)]="forgetpasswordObj.password" #password="ngModel" required
                  pattern="(?=^.{6,50}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$" class="form-control"
                  [ngClass]="{'customError': password.invalid && (password.dirty || password.touched)}" id="password"
                  maxlength="50" minlength="6" placeholder="Password" type="password" (keyup)="clearError('password')">
                
                <div [ngClass]="{
                                          'errormsg': password.invalid && (password.dirty || password.touched),
                                          'has-success': password.valid && (password.dirty || password.touched)}"
                  *ngIf="password.errors && (password.dirty || password.touched)">
                  <p *ngIf="password.errors.required">Password is required</p>
                  <p *ngIf="password.errors.pattern">Please enter valid password</p>
                </div>
                <div class="errormsg" *ngIf="errorObj.password!==''">
                  <span>{{errorObj.password}}</span>
                </div>
              </div>
            </div>
            <div class="form-group  first-child">
              <div class="input cpassword">
                <input name="cpassword" [(ngModel)]="forgetpasswordObj.cpassword" #cpassword="ngModel" required
                  class="form-control checkempty" id="cpassword" type="password" maxlength="50" minlength="6"
                  placeholder="Confirm Password" (keyup)="clearError('cpassword')" (keyup)="matchPassword(forgetpasswordObj)">
                <div [ngClass]="{
                                          'errormsg': cpassword.invalid && (cpassword.dirty || cpassword.touched),
                                          'has-success': cpassword.valid && (cpassword.dirty || cpassword.touched)}"
                  *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)">
                  <p *ngIf="cpassword.errors.required">Confirm Password is required</p>
                </div>
                <div class="errormsg" *ngIf="errorObj.cpassword!==''">
                  <span>{{errorObj.cpassword}}</span>
                </div>
                <span class="form-note">
                  A valid password should contain a minimum length of 6 characters & meet
                  the following criteria. A CAPITAL letter, a small letter, a number and a special
                  character.
                </span>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="registerbtn gradbtn" [disabled]="forgetPassword2.invalid"
                (click)="choosePassword()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center copyright-text">
      <p>Copyright © 2021 Blockcities. All rights reserved.</p>
    </div>
  </div>